<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>115438294651-l42613c6s9fc4mk2dcq83tfdrhcmkrfv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.115438294651-l42613c6s9fc4mk2dcq83tfdrhcmkrfv</string>
	<key>API_KEY</key>
	<string>AIzaSyA7SPJv9Q43vfIkLu16FtwsW0ww5_sASC8</string>
	<key>GCM_SENDER_ID</key>
	<string>115438294651</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.newsApp</string>
	<key>PROJECT_ID</key>
	<string>flutter-individual</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-individual.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:115438294651:ios:3641fcb6bd151d994974de</string>
</dict>
</plist>